body {
  touch-action: none;
}
path {
  stroke: #063d1c;
  fill: none !important;
  /* animation: rainbow 2.5s linear;
	animation-iteration-count: infinite; */
}

circle {
  stroke: #063d1c;
  fill: #063d1c;
  stroke-width: 0.5;
  /* animation: rainbow 2.5s linear;
	animation-iteration-count: infinite; */
}

circle:hover {
  cursor: pointer;
}

.selected {
  stroke: #cea052;
  /* animation: rainbow 1s linear;
	animation-iteration-count: infinite; */
}

.highlight {
  stroke: #cea052;
  fill: #cea052;
  /* animation: rainbow 1s linear;
	animation-iteration-count: infinite; */
}

.traversed {
  stroke: #AF8446;
  fill: #AF8446;
}

#User {
  display: none;
  stroke: #cea052;
  fill: #f2f1eb;
}

#User.show {
  display: inherit;
}

#User:hover {
  cursor: default;
}

#TransformMap {
  transition: transform 1s ease-in-out;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
}

path {
  transition: stroke-width 1s ease-in;
  -webkit-transition: stroke-width 1s ease-in;
  -moz-transition: stroke-width 1s ease-in;
  -o-transition: stroke-width 1s ease-in;
}

circle {
  transition: stroke-width 1s ease-in, transform 1s ease-in;
  -webkit-transition: stroke-width 1s ease-in, -webkit-transform 1s ease-in;
  -moz-transition: stroke-width 1s ease-in, -moz-transform 1s ease-in;
  -o-transition: stroke-width 1s ease-in, -o-transform 1s ease-in;
}

#MapContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0px;
  z-index: 200;
}

#Map {
  background: #f2f1eb;
  /*border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #063D1C;*/
  user-select: none;
  /*max-width: 100vh;*/
  touch-action: none;
}

#NavigateButton {
  position: absolute;
  bottom: 70px;
  left: 50%;
  min-width: 100px;
  background-color: #026937;
  border-color: #026937;
  border-radius: 5px;
  border-width: 2px;
  color: white;
  padding: 10px 10px;

  margin-left: -50px;
  font: bold 16px sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#NavigateButton:hover:enabled {
  background-color: #f2f1eb;
  color: #063d1c;
}

#NavigateButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#PreviousViewButton {
  position: absolute;
  bottom: 70px;
  left: 10px;
  min-width: 100px;
  background-color: #026937;
  border-color: #026937;
  border-radius: 5px;
  border-width: 2px;
  color: white;
  padding: 10px 10px;
  font: bold 16px sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#PreviousViewButton:hover:enabled {
  background-color: #f2f1eb;
  color: #063d1c;
}

#PreviousViewButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#NextViewButton {
  position: absolute;
  bottom: 70px;
  right: 10px;
  min-width: 100px;
  background-color: #026937;
  border-color: #026937;
  border-radius: 5px;
  border-width: 2px;
  color: white;
  padding: 10px 10px;
  font: bold 16px sans-serif;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

#NextViewButton:hover:enabled {
  background-color: #f2f1eb;
  color: #063d1c;
}

#NextViewButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#N130,
#N131,
#N130B,
#N131B {
  visibility: hidden;
}

#Directions {
  position: absolute;
  left: 0px;
  top: 55px;
  padding:2px;
  width:100%;
  background: white;
  font-size: 20px;
}

#Compass {
  position: absolute;
  right: 5%;
  top: 100px;
  width: 10%;
  transition: all 0.5s ease-out;
}

.backNode {
  opacity: 0;
}

.backNode.selected {
  opacity: 0.1;
}

@keyframes rainbow {
  100%,
  0% {
    fill: rgb(255, 0, 0);
    stroke: rgb(255, 0, 0);
  }
  8% {
    fill: rgb(255, 127, 0);
    stroke: rgb(255, 127, 0);
  }
  16% {
    fill: rgb(255, 255, 0);
    stroke: rgb(255, 255, 0);
  }
  25% {
    fill: rgb(127, 255, 0);
    stroke: rgb(127, 255, 0);
  }
  33% {
    fill: rgb(0, 255, 0);
    stroke: rgb(0, 255, 0);
  }
  41% {
    fill: rgb(0, 255, 127);
    stroke: rgb(0, 255, 127);
  }
  50% {
    fill: rgb(0, 255, 255);
    stroke: rgb(0, 255, 255);
  }
  58% {
    fill: rgb(0, 127, 255);
    stroke: rgb(0, 127, 255);
  }
  66% {
    fill: rgb(0, 0, 255);
    stroke: rgb(0, 0, 255);
  }
  75% {
    fill: rgb(127, 0, 255);
    stroke: rgb(127, 0, 255);
  }
  83% {
    fill: rgb(255, 0, 255);
    stroke: rgb(255, 0, 255);
  }
  91% {
    fill: rgb(255, 0, 127);
    stroke: rgb(255, 0, 127);
  }
}

* {
  overflow: hidden;
}
