.switch-container {
  position: relative;
  top: 10px;
  left: 50%;
  margin-top: 15px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

div.switch {
  vertical-align: middle;
  width: 52px;
  height: 26px;
  border-radius: 999px;
  background-color: #4b4b4b;
  transition: background-color 0.4s;
  cursor: pointer;
}

div.switch.on {
  background: #57bb00;
}

div.switchToggle {
  width: 24px;
  height: 24px;
  margin: 1px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 999px;
  background-color: #ffffff;
  transition: transform 0.4s;
}

div.switchToggle.on {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}
